
<h1>Hi there and welcome to the Polled Beta!</h1><br/><br/>
<p>I'm really happy that you've made a decision to spend a few minutes for a few days to help us test a completely free Polling solution.<br/> <br/>

You've linked the Twitter account:  @<%= @user.authentications.first.user_name.to_s%> <br/><br/>

I hope you have a great time here just like we had a great time building this. <br/><br/>



Happy Polling, <br/>
Varun Mayya<br/>

