body {
  background-color: #f8f8f8;
  color: #333;
  font-family: helvetica,arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
padding:0;
margin:0;
}

p, ol, ul, td {
  font-family: helvetica,arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #666;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #444;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 350px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}
.field_with_errors{background-color:transparent;}
.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block; margin:0 auto;
}

.auth_provider {
  margin:0 auto;
  text-decoration: none;

  text-align: center;
}

#navbar{width:100%;
height:42px;
background-image:image-url("navbar.png");
}

#settingsmenu{float:left; }
#drop_icon{margin-left:10px;   background-image:image-url("menubar.png"); text-shadow:0px 1px 2px #274e42; font-size:15px; color:white; height:30px; margin-top:8px; background-repeat: no-repeat; width:35px; margin-left:70px;}

#loginmenu{float:right; margin-right:30px; text-shadow:0px 1px 2px #274e42; font-size:15px; color:white; height:26px; margin-top:10px;}

#logo{position:absolute; margin-left:-51px;left:50%; background-image:image-url("logo.png"); height:34px; width:102px; margin-top:3px;}
#loginmenu a,#loginmenu a:visited,#loginmenu a:hover{color:white;background-color:none;}

.footer{text-align:center; color:#575757; margin-top:50px; clear:both;}
.container{width:1060px;margin:60px auto; min-height:300px; }
h1{font-size:56px; color:#575757;}
h2{color:#888}
.center-text{text-align:center;}
.nbcolor{color:#50b295; text-decoration:none; }
.linklist a
{text-decoration:none;color:#50b295; }
.openmenu
{
display:none;
padding-top:1px;
padding-bottom:2px;
list-style-type:none; 
background-color:#404040; 
width:120px;
margin-top:-18px;
margin-left:25px; 

box-shadow:0px 1px 2px #555;
}
.center-div{margin:0 auto;}
.openmenu ul li
{
text-align:center;
list-style-type:none; margin-top:5px;text-decoration:none; 
}
.openmenu ul
{
padding:5px; 
}
.chidden{display:block;}
.openmenu ul li a
{
text-align:center;
margin-top:5px;font-size:14px; 
list-style-type:none; 
text-decoration:none; 
color:white;
}
.openmenu ul li a:hover{text-decoration:underline;}
.float_left{float:left;}
.float_right{float:right;}

.boxed500{width:550px; margin:100px auto;}
.boxmodel{border-radius:5px; box-shadow:0px 2px 5px rgba(0,0,0,0.2); padding:10px; width:220px; height:200px;}