
.icheckbox_flat-red,
.iradio_flat-red {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: image-url("radbox.png") no-repeat;
    border: none;
    cursor: pointer;
}
.loafer{}
.icheckbox_flat-red {
    background-position: 0 0;
}
    .icheckbox_flat-red.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-red.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-red.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-red {
    background-position: -88px 0;
}
    .iradio_flat-red.checked {
        background-position: -110px 0;
    }
    .iradio_flat-red.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-red.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-red,
    .iradio_flat-red {
        background-image: image-url("radbox.png");
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

body {
  background-color: #f5f2f2;
  color: #333;
  font-family: 'Signika', sans-serif;
  font-size: 12px;
  line-height: 18px;
padding:0;
margin:0;
}

p, ol, ul, td {
  font-family: helvetica,arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #666;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #444;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  font-family: 'Signika', sans-serif;
  font-size:16px;
  color: #afd139;
}
.notice {
  font-family: 'Signika', sans-serif;
  font-size:16px;
  color: #afd139;
margin-top:20px;

margin-bottom:20px;
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 1px solid #dd8a8a;

  margin:20px auto;
  background-color: #facece;
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 14px;

    color: #dd8a8a;
  }
ul{margin:10px 0px; padding:0;}
  ul li {
    font-size: 12px;
text-align:center;
margin:0;
padding:0;
color:#444;
    list-style: none;
  }
}

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 350px;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin: 0 auto;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}
.field_with_errors{background-color:transparent;}
.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block; margin:0 auto;
}

.auth_provider {
  margin:0 auto;
  text-decoration: none;

  text-align: center;
}

#navbar{width:100%;
height:42px;
background-color: #161719;
}

#settingsmenu{float:left; }
#drop_icon{margin-left:10px;   background-image:image-url("pmenu.png"); font-size:15px; color:white; height:42px;  background-repeat: no-repeat; width:50px; margin-left:70px;}
#drop_icon:hover{background-image:image-url("pmenuhover.png"); height:42px;  background-repeat: no-repeat; width:50px; margin-left:70px;}
#loginmenu{float:right; margin-right:30px; font-size:13px; color:white; height:26px; margin-top:10px; text-decoration:none !important;}

#logo{position:absolute; margin-left:-51px;left:50%; background-image:image-url("plogo.png"); height:42px; width:108px;}
#loginmenu a,#loginmenu a:visited{color:white;background-color:none;}
#loginmenu a:hover{color:#fbca05;background-color:none;}

.footer{text-align:center; color:#888; margin-top:50px; clear:both; font-family:'Signika', sans-serif; }
.container{width:1024px;margin:60px auto; min-height:300px; }
h1{font-family: 'Signika', sans-serif; font-weight:700; font-size:70px; color:#282828;}
h2{font-family: 'Signika', sans-serif; font-weight:400; font-size:20px; color:#373636}
.center-text{text-align:center;}
.nbcolor{font-family: 'Signika', sans-serif; font-weight:700; color:#fbca05; text-decoration:none;}
.nccolor{font-family: 'Signika', sans-serif; font-weight:700; color:#fbca05 !important; text-decoration:none;}
.linklist a
{text-decoration:none;color:black; font-size:16px; font-family: 'Signika', sans-serif; font-weight:600; line-height:20px; }
.openmenu
{
display: none;
padding-top: 1px;
padding-bottom: 1.7px;
list-style-type: none;
background-color: #161719;
width: 150px;
margin-top: -15px;
margin-left: 25px;
box-shadow: 0px 5px 0px #fbca05;
font-family: 'Signika', sans-serif !important;
font-weight: 700 !important;
font-size: 12px !important;
}
.center-div{margin:0 auto;}
.openmenu ul li
{
text-align:center;
list-style-type:none; margin-top:5px;text-decoration:none; 
}
.openmenu ul
{
padding:5px; 
}
.chidden{display:block;}
.openmenu ul li a
{
text-align:center;
margin-top:5px;font-size:14px; 
list-style-type:none; 
text-decoration:none; 
color:white;
}
.openmenu ul li a:hover{color:#fbca05;}
.float_left{float:left;}
.float_right{float:right;}

.boxed500{width:550px; margin:100px auto;}
.boxmodel{border-radius:5px; box-shadow:0px 2px 5px rgba(0,0,0,0.2); padding:10px; width:220px; height:200px;}
.poll_icon{
background-image:image-url("levels.png"); background-repeat:no-repeat; line-height:65px; font-weight:bold;font-size:50px;padding-left:45px; font-family: 'Signika', sans-serif; background-position:left 19px; color:#575757; margin-bottom:20px;}
.polls_image{background-image:image-url("levels.png"); text-indent:45px; line-height:30px;padding-top:8px; height:22px; background-repeat:no-repeat;width:130px;}
.indent_little{text-indent:45px; font-family:'Signika', sans-serif; font-size:18px; color:#797979;}
.progbar_value{position:relative;width:40px; background-color:#d37575; border-left:1px solid #a85656;border-right:1px solid #a85656;border-bottom:1px solid #d87e7e; box-shadow:0px 4px 0px #a85656; height:25px; border-top:1px solid #c07070; line-height:25px; font-weight:bold; font-family:'Signika', sans-serif; text-align:center; font-size:14px; color:white;}
.custom_radio{font-family:'Signika', sans-serif; font-size:25px; text-indent:5px;color: #575757;
margin-top: -17px;
margin-left: 25px;
}
.formtastic .choices-group{padding:0px 0px 0px 55px!important;
width:90% !important; }
.formtastic .choices .label{margin-bottom:10px;}
.formtastic .choice label input, .formtastic .boolean label input {float:left !important;}
.formtastic .choices{margin-top:10px;}
.formtastic .choice{margin-bottom:20px !important;}
.fr{float:left; margin-left:10px;line-height:25px; font-family:'Signika', sans-serif; font-size:11px;}
.bar_holder{width:900px; height:30px; margin-left:28px;}
.bar_inner{width:800px; height:30px; float:left;}
.submit_vote{color:white; font-family:'Signika', sans-serif!important; font-size:18px!important; text-shadow:0px 1px 2px rgba(0,0,0,0.65);background-image:image-url("submit_bg.png"); width:156px; height:43px; margin:0 auto !important; border:none; background-color:transparent;}
.submit_vote:hover{cursor:pointer; opacity:0.8;}
.formtastic .actions{padding:0px !important; margin:0 auto; width:156px; }
.formtastic .inputs {margin: 30px auto 50px auto !important;}
.already-cast{ width:200px; margin:50px auto 50px auto; background-color:#52ba9a; height:20px; line-height:20px; color:white; text-shadow:0px 1px 3px #555; border-radius:5px; }
.ordinal{color:#929292; font-size:14px; font-family:'Signika', sans-serif;}
table.listpoll{ margin:0 auto; width:900px;}
a.icon_edit{text-indent:-9999px; background-image:image-url("edit_icon.png"); width:31px; height:31px; display:inline-block;}
a.icon_destroy{margin-left:10px;text-indent:-9999px; background-image:image-url("destroy_icon.png"); width:31px; height:31px; display:inline-block;}
a.icon_edit:hover, a.icon_destroy:hover{opacity:0.7; filter:alpha(opacity=70); }
.empoll{height:100px;width:900px; border-radius:5px; background-color:white; margin:20px auto; border:1px solid #DCDCDC; padding:10px; box-shadow:0px 2px 1px rgba(0,0,0,0.1);}
.empoll-new{min-height:100px;width:900px; border-radius:5px; background-color:white; margin:20px auto; border:1px solid #DCDCDC; padding:10px; box-shadow:0px 2px 1px rgba(0,0,0,0.1); overflow:auto;}
.question_side{float:left;}
.edit_side{float:right; margin-top:35px; width:100px;}
.greenheader a{color:#50b295; font-size:24px; text-decoration:none; font-family:'Signika', sans-serif; line-height:30px;}
.lightgrey{color:#777; font-family:'Signika', sans-serif; }
h1,h2,h3{font-family: 'Signika', sans-serif; }
.center-div{margin:0 auto;}
.next_page{display:inline-block;text-indent:-9999px; width:64px; height:17px; background-image:image-url("right_arrow.png"); margin-left:10px;}
.previous_page{display:inline-block;text-indent:-9999px; width:64px; height:17px; background-image:image-url("left_arrow.png"); margin-right:10px;}
.pagination a{font-size:16px;}
.next_page:hover, .previous_page:hover{opacity:0.6; filter:alpha(opacity=60);}
.pagination {font-size:16px;}
.long-text input{
border:1px solid #b9b9b9;
height:70px; width:790px; font-size:24px; line-height:24px; padding:5px; color:#999;}
.long-text input:focus{
border:1px solid limegreen;
 box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
 outline: none;}
.long-text{width:810px; margin:20px auto; }
.greenheader{width:750px;}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
/* ----------------------- */

.span10{ width:220px; margin:20px auto; }
.span10 input{color:#999;width:220px; border:1px solid #b9b9b9;}
.span10 input:focus{
border:1px solid limegreen;
 box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
 outline: none;}


.span20{ width:580px; margin:20px auto;}
.span20 input{color:#999; padding-left:5px; padding-right:5px; font-size:16px;width:310px; border:1px solid #b9b9b9; margin-left:100px; margin-right:10px; margin-top:20px; margin-bottom:20px; height:50px;}
.span20 input:focus{
border:1px solid limegreen;
 box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
 outline: none;}
.add_option {margin-top:20px ; display:block; width:100px; margin-left:auto; margin-right:auto; background-color:#999;  padding:5px 10px 5px 10px; color:white; text-decoration:none; text-shadow:0px 1px 3px rgba(0,0,0,0.7);
 font-size:12px;
}
.sub_button {margin-top:20px ; display:block; width:100px; margin-left:auto; margin-right:auto; background-color:#50b295; border-bottom:3px solid #326c5b; padding:5px 10px 5px 10px; color:white; text-decoration:none; text-shadow:0px 1px 3px rgba(0,0,0,0.7); cursor:pointer;
border-top:1px solid #428f78; border-right:1px solid #428f78; border-left:1px solid #428f78; font-size:12px; line-height:24px;
}
.remove_option{font-size:16px; text-decoration:none;}
.add_option:hover{color:white; opacity:0.9; filter:alpha(opacity=90);}
.sub_button:hover{color:white; opacity:0.9; filter:alpha(opacity=90);}
.span500{width:700px; margin-top:70px !important;}
.span500 input[type=email], .span500 input[type=password]{outline:none; border:1px solid #bcbcbc; width:390px; height:20px; font-size:14px; color:#999; padding:5px; margin:0 auto;}
.span500 input[type=email]:focus, .span500 input[type=password]:focus{border:1px solid limegreen; box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);}
.span500ip{width:400px; margin:0 auto;}

.graytext{color: #2d2f31;
height: 40px;
width: 320px;
position: absolute;
margin-left: -151px;
left: 50%;
background-color: #fbca05;
font-size: 20px !important;
font-family: 'Signika', sans-serif;
font-weight: 600;
line-height: 42px;}

.smallesttext a{ color:#999; }