
.icheckbox_flat-red,
.iradio_flat-red {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: image-url("radbox.png") no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-red {
    background-position: 0 0;
}
    .icheckbox_flat-red.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-red.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-red.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-red {
    background-position: -88px 0;
}
    .iradio_flat-red.checked {
        background-position: -110px 0;
    }
    .iradio_flat-red.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-red.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-red,
    .iradio_flat-red {
        background-image: image-url("radbox.png");
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: helvetica,arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
padding:0;
margin:0;
}

p, ol, ul, td {
  font-family: helvetica,arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #666;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #444;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  font-family: 'Arimo', sans-serif;
  font-size:16px;
  color: #afd139;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 350px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}
.field_with_errors{background-color:transparent;}
.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block; margin:0 auto;
}

.auth_provider {
  margin:0 auto;
  text-decoration: none;

  text-align: center;
}

#navbar{width:100%;
height:42px;
background-image:image-url("navbar.png");
}

#settingsmenu{float:left; }
#drop_icon{margin-left:10px;   background-image:image-url("menubar.png"); text-shadow:0px 1px 2px #274e42; font-size:15px; color:white; height:30px; margin-top:8px; background-repeat: no-repeat; width:35px; margin-left:70px;}

#loginmenu{float:right; margin-right:30px; text-shadow:0px 1px 2px #274e42; font-size:15px; color:white; height:26px; margin-top:10px;}

#logo{position:absolute; margin-left:-51px;left:50%; background-image:image-url("logo.png"); height:34px; width:102px; margin-top:3px;}
#loginmenu a,#loginmenu a:visited,#loginmenu a:hover{color:white;background-color:none;}

.footer{text-align:center; color:#888; margin-top:50px; clear:both; font-family:'Arimo', sans-serif; }
.container{width:1024px;margin:60px auto; min-height:300px; }
h1{font-size:56px; color:#575757;}
h2{color:#888}
.center-text{text-align:center;}
.nbcolor{color:#50b295; text-decoration:none; }
.linklist a
{text-decoration:none;color:#50b295; }
.openmenu
{
display:none;
padding-top:1px;
padding-bottom:2px;
list-style-type:none; 
background-color:#404040; 
width:120px;
margin-top:-18px;
margin-left:25px; 

box-shadow:0px 1px 2px #555;
}
.center-div{margin:0 auto;}
.openmenu ul li
{
text-align:center;
list-style-type:none; margin-top:5px;text-decoration:none; 
}
.openmenu ul
{
padding:5px; 
}
.chidden{display:block;}
.openmenu ul li a
{
text-align:center;
margin-top:5px;font-size:14px; 
list-style-type:none; 
text-decoration:none; 
color:white;
}
.openmenu ul li a:hover{text-decoration:underline;}
.float_left{float:left;}
.float_right{float:right;}

.boxed500{width:550px; margin:100px auto;}
.boxmodel{border-radius:5px; box-shadow:0px 2px 5px rgba(0,0,0,0.2); padding:10px; width:220px; height:200px;}
.poll_icon{
background-image:image-url("levels.png"); background-repeat:no-repeat; line-height:65px; font-weight:bold;font-size:50px;padding-left:45px; font-family: 'Arimo', sans-serif; background-position:left 19px; color:#575757; margin-bottom:20px;}
.polls_image{background-image:image-url("levels.png"); text-indent:45px; line-height:30px;padding-top:8px; height:22px; background-repeat:no-repeat;width:130px;}
.indent_little{text-indent:45px; font-family:'Arimo', sans-serif; font-size:18px; color:#797979;}
.progbar_value{position:relative;width:40px; background-color:#d37575; border-left:1px solid #a85656;border-right:1px solid #a85656;border-bottom:1px solid #d87e7e; box-shadow:0px 4px 0px #a85656; height:25px; border-top:1px solid #c07070; line-height:25px; font-weight:bold; font-family:'Arimo', sans-serif; text-align:center; font-size:14px; color:white;}
.custom_radio{font-family:'Arimo', sans-serif; font-size:25px; text-indent:5px;color: #575757;
margin-top: -17px;
margin-left: 25px;
}
.formtastic .choices-group{padding:0px 0px 0px 55px!important;
width:90% !important; }
.formtastic .choices .label{margin-bottom:10px;}
.formtastic .choice label input, .formtastic .boolean label input {float:left !important;}
.formtastic .choices{margin-top:10px;}
.formtastic .choice{margin-bottom:20px !important;}
.fr{float:left; margin-left:10px;line-height:25px; font-family:'Arimo', sans-serif; font-size:11px;}
.bar_holder{width:900px; height:30px; margin-left:28px;}
.bar_inner{width:800px; height:30px; float:left;}
.submit_vote{color:white; font-family:'Arimo', sans-serif!important; font-size:18px!important; text-shadow:0px 1px 2px rgba(0,0,0,0.65);background-image:image-url("submit_bg.png"); width:156px; height:43px; margin:0 auto !important; border:none; background-color:transparent;}
.submit_vote:hover{cursor:pointer; opacity:0.8;}
.formtastic .actions{padding:0px !important; margin:0 auto; width:156px; }
.formtastic .inputs {margin: 30px auto 50px auto !important;}
.already-cast{ width:200px; margin:50px auto 50px auto; background-color:#52ba9a; height:20px; line-height:20px; color:white; text-shadow:0px 1px 3px #555; border-radius:5px; }
.ordinal{color:#929292; font-size:14px; font-family:'Arimo', sans-serif;}
table.listpoll{ margin:0 auto; width:900px;}
a.icon_edit{text-indent:-9999px; background-image:image-url("edit_icon.png"); width:31px; height:31px; display:inline-block;}
a.icon_destroy{margin-left:10px;text-indent:-9999px; background-image:image-url("destroy_icon.png"); width:31px; height:31px; display:inline-block;}
a.icon_edit:hover, a.icon_destroy:hover{opacity:0.7; filter:alpha(opacity=70); }
.empoll{height:100px;width:900px; border-radius:5px; background-color:white; margin:20px auto; border:1px solid #DCDCDC; padding:10px; box-shadow:0px 2px 1px rgba(0,0,0,0.1);}
.question_side{float:left;}
.edit_side{float:right; margin-top:35px; width:100px;}
.greenheader a{color:#50b295; font-size:24px; text-decoration:none; font-family:'Arimo', sans-serif; line-height:30px;}
.lightgrey{color:#777; font-family:'Arimo', sans-serif; }
h1,h2,h3{font-family:'Arimo', sans-serif; }
.center-div{margin:0 auto;}
.next_page{display:inline-block;text-indent:-9999px; width:64px; height:17px; background-image:image-url("right_arrow.png"); margin-left:10px;}
.previous_page{display:inline-block;text-indent:-9999px; width:64px; height:17px; background-image:image-url("left_arrow.png"); margin-right:10px;}
.pagination a{font-size:16px;}
.next_page:hover, .previous_page:hover{opacity:0.6; filter:alpha(opacity=60);}
.pagination {font-size:16px;}