
	<h1 class="center-text">About</h1><div class="big-idea">
<p class="bigtext2"><br/><br/><br/></p>

<h2>What is Pollled?</h2> 
<p class="bigtext2">
Pollled is an exciting and developing social innovation project by Sizr Studios. It is the ultimate polling solution packed with statistics, data and reports! It is developed on Ruby on Rails 3.2 and has been tested by beta testers over a period of one month. With developers at Sizr being a part of the very few on the PRO Rails Community in India, huge amount of time has been spent on the optimization and security of data. Pollled uses a single shot, custom solution based on OmniAuth/Devise for authentication. Pollled is OS and Device independent. It is simple and flexible.<br/><br/><br/>

<h2>How much does it cost?</h2>
<p class="bigtext2">
Pollled is a free web service with no hidden fees or long-term commitments. However, with further development and addition of premium features Sizr Studios holds all rights to convert Pollled into a freemium service.<br/><br/>

<h2>How to use?</h2>
<p class="bigtext2">
If you find our extremely simple UI a little challenging, please find our tutorial here.<br/><br/>
<h2>The big Idea?</h2>
<p class="bigtext2">
Developers at Sizr are constantly working on improving and adding  features to Pollled. Pollled hopes to replace expensive audience response hardware with cutting edge web technology. It aims to grow into the easiest way to gather live responses at conferences, presentations, classrooms etc. or even for market research using the power of the internet.<br/><br/>

With Twitter based authentication Pollled can eventually be used for/to:<br/><br/>
•	Audience choice awards<br/><br/>
•	Replace expensive clickers<br/><br/>
•	Surveys	<br/><br/>
•	Brainstorming <br/><br/>
•	Market research <br/><br/>
•	Training comprehension checks <br/><br/>	
•	Grading in-class quizzes <br/><br/>	
•	Political elections <br/><br/>

This document was last updated on July 3, 2013<br/><br/><br/></p></div>