<h1 class="center-text">What's the Big idea?</h1>
<div class = "empoll-new">
	
		<div class="center-text"><p class="graytext">There is one thing stronger than all the armies in the world, and that is an idea whose time has come.<br/> <i>~Victor Hugo</i></p></div>
		<br/><p class="graytext">
		It's 2013 and the world is running out of ideas. In the world of rapid scaling web services, ideas come by at the speed of sound and are dropped even faster. We feel that any idea, even a bad one, is worth consideration. Hence on account of the release of this Beta, we're opening a no holds barred 'idea gathering competition' (We didn't know what else to call it, really). We're looking for an idea for a web service, that can scale to match the user base of something like Facebook or Twitter. <i>We can build it</i>, all we need is a idea to work on. <br/><br/> 
		The first thing that probably comes to your mind is - "Can't you think of something on your own?" or "What's in it for me?". To answer both questions: We've thought. We've thought hard and some of the ideas that we felt were "awesome" have already been put into motion. But me and my team are of the belief that every individual has ideas worth giving an audience to. We don't want that brain cell of yours holding the idea to simply wither away because you never found someone to put it in motion.<br/> <br/>  As for the second question - "What's in it for you", we're giving away <strong>1%</strong> of all profits we make of your idea for life. If it scales, and reaches the heights that something like Facebook has reached, then your wallet will be a few million dollars heavier and you'll be thanking that one brain cell for it's rendered service. <br/><br/> 
		But again, there's two sides to the story - Your biz idea may simply fall flat. But let us take the risk, after all - It's just an idea you spent. If you feel you like where we're headed, you could even join our marketing department while you're at it. <br/><br/> 
		So without much further ado, send your ideas to<br/>
		<strong>mayya@sizr.net</strong><br/>
		<br/>

		Meanwhile, we'll be bringing new web services that are doing the rounds in more developed nations and testing them on Indian waters.
		
		
		
		<br/><br/>
		May the best idea win.<br/>
		<br/>
		<strong>Varun Mayya<br/>
		CEO, Sizr Studios<br/></strong>
	</p>
</div>