
<div class="center-text"><br/><br/><br/><h1>Welcome to Polled.</h1>
<h2>The ultimate <span class="nbcolor">FREE</span> polling solution for the Twitterverse and beyond, packed with statistics, data and reports! <br/>
	</h2>
<br/><br/><br/><br/><br/>
<h2> Latest Polls </h2>
 <div class="linklist">
<%Epoll.order("created_at DESC").first(3).each do |epoll|%>
<%=link_to epoll.question, epoll_path(epoll)%><br/>
<%end%></div>
</div>

